.main {
  margin-left: 40%;
  margin-top: 10%;
}
button{
    margin-right: 5px;
}
textarea{
  text-align: center;
    margin-left: 42%;
    margin-top: 20px;
}

html, body{
  
  margin: 0;
}
.whole{
  position: absolute;
  width: 100%;
  height: 100%;
  ;
}